
.info{
  width:200px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

h2,h3,p{
  text-align: center;
}

hr{
  background-color: rgba(0, 0, 0, 0.356);
  width: 90%;

  border: none;
  height:2px;
  margin: 10px auto;

}
