<div class="informations card" fxLayout="column" fxLayoutAlign="start stretch">
    <h1 class="background-pattern">Bienvenue sur DevArea</h1>
    <div class="content">
        Dev'Area est un serveur discord créé par de nombreux passionés. Le but ?
        <ul>
            <li>
                Créer une communauté autour du développement francophone, rare de qualité
            </li>
            <li>
                Venir en aide à chacun, quel que soit votre niveau et vos languages favoris.
                Que vous proposiez votre aide ou que vous en ayez besoin, ce serveur est fait pour vous
            </li>
            <li>
                Vous permettre de proposer vos services grâce à nos outils de gestion des freelances
            </li>
            <li>
                Vous permettre, si vous cherchez un développeur, de trouver votre bonheur parmi le large éventail du
                discord
            </li>
        </ul>
        Plus d'infos sur le serveur, c'est <a routerLink="/stats" routerLinkActive="active">ici</a>
    </div>
    <a class="button" href="https://discord.devarea.fr/">
        Rejoindre
    </a>
</div>