<div fxLayout="column" class="side-nav" fxFlex>
  <div class="title" fxLayout="row" fxLayoutAlign="center center">
    <img src="/assets/images/profilBot.jpg" />
    <h1 fxFlex>Dev'Area</h1>
  </div>

  <ul fxLayout="column" class="nav-menu" fxFlex>

    <li class="nav-item">
      <a class="nav-link" routerLink="menu" routerLinkActive="active">
        <i class="material-icons">home</i>
        Menu
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="reseaux" routerLinkActive="active">
        <i class="material-icons">link</i>
        Réseaux
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="stats" routerLinkActive="active">
        <i class="material-icons">leaderboard</i>
        Stats
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="missions" routerLinkActive="active">
        <i class="material-icons">rocket_launch</i>
        Missions
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="staff" routerLinkActive="active">
        <i class="material-icons">groups</i>
        Staff
      </a>
    </li>

  </ul>
</div>